@import "tailwindcss";

@theme {
  --color-primary: #02103F;
  --color-secondary: #00C8E0;
  --color-accent: #2563EB;
}

/* @import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Jost:ital,wght@0,100..900;1,100..900&family=Playfair+Display:ital,wght@0,400..900;1,400..900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Playwrite+RO:wght@100..400&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Manrope:wght@200..800&display=swap'); */

@property --border-angle {
  inherits: false;
  initial-value: 0deg;
  syntax: '<angle>';
}


* {
  font-family: "Poppins", sans-serif;
  scroll-behavior: smooth;
}

.playfire {
  font-family: "Playfair Display", serif;
}

.playwrite {

  font-family: "Playwrite RO", cursive;

}

.manrope {
  font-family: "Manrope", sans-serif;
}